.windAndTemp {
	display: grid;
	grid-template: auto auto / 6fr 4fr;
	justify-items: center;
	align-items: center;
}

@media all and (max-width: 830px) {
	.windAndTemp {
		grid-template: repeat(3, auto) / auto;
	}
	.windAndTemp :nth-child(3){
		grid-column: auto;
	}
}
