:root {
	--color-1: #f7f4ea;
	--color-2: #dde5b6;
	--color-3: #adc178;
	--color-4: #a98467;
	--color-5: #6c584c;
}

html, body {
	padding: 0px;
	margin: 0px;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a, h1, h2, h3, h4, h5, h6a, p {
	color: var(--color-5);
}

a, h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

::selection {
	background: var(--color-3);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

#container {
	background-color: var(--color-1);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
